.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-link {
  text-decoration: none;
  border: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 4px;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.input-group .form-control {
  border-right: none;

  &:focus {
    border-color: #fff;
    box-shadow: none;
  }
}

.btn-outline-light {
  border-left: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.logo-header {
  height: 40px;
  filter: drop-shadow(0px 0px 4px rgba(250, 249, 249, 0.953));
}


// Estilos específicos para móviles
@media (max-width: 768px) {
  .header {
    // Reducir el padding vertical en móviles
    .py-2 {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }

    // Asegurar que el texto no se desborde
    h5, small {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // Reducir márgenes en móviles
    .me-2 {
      margin-right: 0.25rem !important;
    }
  }
}

